[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
gunicorn = "*"
psycopg2-binary = "*"
flask-sqlalchemy = "3.0.3"
Werkzeug = "2.2.2"
flask-migrate = "*"
sqlalchemy-serializer = "*"
flask-cors = "*"
flask-socketio = "*"
flask-restful = "*"
flask-bcrypt = "*"

[dev-packages]

[requires]
python_version = "3.8"
